/*
Project Name: DINAL
Author: Phil Weiss
Legal H@cker
*/

/*========*/
/*GENERAL STUFF*/
/*=========*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,900);

body {
  font-family:'source sans pro', sans-serif;
  width:100%;
  height:100%;
  background-color:#EBD879;
}

.main-wrapper {
  min-width:400px;
  min-height:400px;
  position:relative;
  z-index:0;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

a {
  text-decoration:none;
  color:inherit;
  }

.fade-in {
  opacity:0;  
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:.5s;
}

.fade-out {
  opacity:1;  
  animation:fadeOut ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:.5s;
}

.slight-fade {
  opacity:1;  
  animation:slight-fade ease-in 1;
  animation-duration:.5s;
}

ol {
  list-style-type:upper-roman;
  padding-left:50px;
  margin:20px;
}

b {
  font-weight:bold;
  display:block;
}

.hidden {
  display:none;
}

/*POPUP*/

#popup {
  min-width:400px;
  margin: 10% 6%;
  height:auto;
  padding:40px;
  border-radius:5px;
  background-color:rgb(169,170,153);
  box-shadow: 1.5px 1.5px 5px #000;
  position:absolute;
  z-index:1;
  text-align:justify;
  font-size:30px;
  font-weight:300;
  display:none;
}

#popup p {
  margin-top:20px;
}

p#popup_button {
  display:block;
  width:200px;
  height:50px;
  font-size:40px;
  box-sizing:border-box;
  background-color:#ccc;
  text-align:center;
  margin: 40px auto 0px auto;
  border-radius:5px;
  box-shadow:2px 2px 5px #000;
  padding-top:3px;
  color:#000;
  font-weight:400;
  transition-property: opacity;
  transition-duration:.3s;
}

#popup_button:hover {
  cursor: pointer;
  opacity:.5;
}

#popup_button.hidden {
  cursor:default;
}

/*HEADER*/

header {
  width:100%;
  height:76px;
  position:static;
  box-shadow:2px 0px 5px;
  background-color:#BBAD66;
}

nav ul li {
  display:block;
  float:right;
  padding:30px;
  color:#F1FEFF;
  transition-property:background-color;
} 

nav ul li:hover{
  background-color:#0D3B8D;
  transition-duration: .4s;
  opacity:.7;
}

.logo {
  display:block;
  float:left;
  padding:16px;
  font-size:45px;
  color:#F1FEFF;
  font-weight:900;
}

.active {
  background-color:#ccc;
  color:#000;
}

/*MAIN*/

.main {
  width:100%;
  min-height:700px;
}

.main p {
  width:100%;
  text-align:center;
  font-size:55px;
  line-height:120%;
  font-weight:700;
  margin-top:200px;
}

.main em {
  display:block;
  width:100%;
  text-align:center;
  padding-bottom:40px;
}

#start {
  font-size:30px;
  text-align:center;
}

#start:hover {
  text-decoration: solid;
  cursor:pointer;
}

/*QUESTIONS*/

#exit {
  display:none;
}

#result {
  display:block;
  font-size:40px;
  color:black;
}

.questions {
  display:inline-block;
  width:60%;
  margin-top:100px;
  margin-left:20%;
  height:auto;
  border-radius:5px;
  background-color:rgba(169,170,153,1);
  box-shadow: 1.5px 1.5px 5px #000;
  margin-bottom:30px;
  position:absolute;
  z-index:1;
  top:80px;
}

input[type='checkbox'] {
  height:40px;
  width:40px;
  border:none;
  padding-top:40px;
  position:relative;
  bottom:0;
}

.questions h3 {
  text-align:center;
  font-weight:300;
  font-size:28px;
  padding:20px;
}

.questions form {
  padding:40px;
  font-size:28px;
  font-weight:300;
}

.questions input{
}

.help {
  height:auto;
  width:auto;
  float:right;
}

.help li {
  background-color:#fff;
  color:#000;
  height:auto;
  z-index:1;
}

aside.help {
  position:absolute;
  z-index:2;
  right:0;
  top:200px;
  height:auto;
  font-size:;
}

.questions .button {
  margin-top:30px;
}

/*FOOTER*/

footer {
  width:100%;
  height:90px;
  background-color:#BBAD66;
  bottom:0;
  padding-top:10px;
  box-sizing:border-box;
  color:white;
}

.button {
  display:block;
  width:200px;
  height:50px;
  font-size:20px;
  box-sizing:border-box;
  background-color:#ccc;
  text-align:center;
  background-color:;
  margin:7.5px auto;
  border-radius:5px;
  box-shadow:2px 2px 5px #000;
  padding-top:15px;
  color:#000;
  cursor:pointer;
}

#result {
  display:block;
  height:40px;
  background-color:#fff;
}

.question1, .question2, .question3, .question4, .question5, .question6 {
  display:none;
}

/*ABOUT*/

.about {
  height:700px;
  padding:100px;
}

.about p {
  display:block;
  font-size:20px;
  line-height:1.2;
  width:70%;
  margin-left:50px;
  margin-bottom:40px;
}

.about p b {
  font-size:24px;
}

.about a {
  display:block;
  padding-left:100px;
  padding-bottom:30px;
  padding-top:30px;
}

.about p::first-letter {
  font-size:50px;
}



